name: Build Packages

on:
  workflow_dispatch:

jobs:
  build:
    name: Build Client on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    defaults:
      run:
        working-directory: client

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"

      - name: Install build dependencies
        run: uv sync --group build

      - name: Install ImageMagick
        uses: mfinelli/setup-imagemagick@v7

      - name: Build release artifacts
        run: make release

      - name: Upload release artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.os }}
          path: client/releases/**
          if-no-files-found: error
          compression-level: 0
